.line{
  margin: 30px auto 0;
  height: 20px;
  display: flex;
  width: 80%;
  justify-content: center;
  text-align: center;
  @include mq("sm","max"){
    width: 100%;
  }
  &-text{
    font-size: 1.25em;
    width: 100%;
    white-space: nowrap;
    margin: auto;
    text-align: center;
    &::before{
      content: "";
      display: inline-block;
      width: 20%;
      margin-right: 5%;
      border-top: 1px solid $color-grey-medium;
      vertical-align: middle;
      @include mq("sm","max"){
        width: 15%;
      }
    }
    &::after{
      content: "";
      display: inline-block;
      width:20%;
      margin-left: 5%;
      border-top: 1px solid $color-grey-medium;
      vertical-align: middle;
      @include mq("sm","max"){
        width: 15%;
      }
    }
  }
}