section.shelf.js--shelf
  div.shelf__product
      img.shelf__product-img.js--product-img
      h2.shelf__product-name.js--product-name
      div.shelf__product-value.js--product-value
      button.shelf__buy-button.js--buy-button


