.shelf{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__product{
    max-width: 300px;
    min-width: 150px;
    text-align: center;
    border:2px solid $color-grey-medium;
    padding: 2%;
    box-sizing: border-box;
    width: 30%;
    margin: 30px 10px;
    position: relative;
      &:hover,&:active{
          button{
          opacity: 1;
        }
      }
      &-img{  
      max-width: 100%;
      display: block;  
      text-align: center;
      }
      &-name{
        margin-top: 10px;
        font-size: 1em;
      }
      button{
        position: relative;
        bottom: 5px;
        background:  url("../img/cart.png") center center no-repeat; 
        width: 25px;
        float: right;
        border: none;
        height: 30px;
        cursor: pointer;
        opacity: 0;
        transition: all 0.4s;
        
      }
      &-value{
       margin: 10px auto 15px; 
      }
  }
}