header.header
  section.header__wrap
    div.mobile-menu
      div.bar1
      div.bar2
      div.bar3
    a(class="header__title" href="") Minha Loja
    nav.header__nav
      ul.header__menu
        li.header__menu-item Perfumaria
        li.header__menu-item Maquiagem
        li.header__menu-item Cabelos
        li.header__menu-item Infantil
    div.header__cart
      div.header__cart-wrap
        img(class="header__cart-img" src="img/cart.png", alt="Carrinho")
        span.header__cart-value.js--cart
      
  