body{
  font: 1rem/1.2 $font-main;
  text-transform: uppercase;
  margin: 0;
  color: $color-grey-dark;
  overflow-x: hidden;
  
  @include mq("md","max"){
    font-size: 0.9rem;
  }
  @include mq("sm","max"){
    font-size: 0.8rem;
  }
  @include mq("xs","max"){
    font-size: 0.7rem;
  }
 main{
   width: 65%;
   margin: 0 auto;
 } 
}
