/* Colors */
$color-white             : hsl(0, 0%, 100%);
$color-grey-light        : #fbfbfb;
$color-grey-medium       : #f0f0f0;
$color-grey              : #aaaaaa;
$color-grey-dark         : #807f7f;
$color-black             : #000000;

