- var $storeName = 'Perfumaria'
- var $templateName = ''
- var $templateClass = ''
block vars


doctype
html(lang='pt-br')
    head
        include ./../templates/sub-templates/_Perfumaria-Head.pug
    
        block styles
            include ./../templates/sub-templates/_Perfumaria-Styles.pug

    body
        block header
            include ./../templates/sub-templates/_Perfumaria-Header.pug

        main(role='main', class='content')
            block content

        block footer
            include ./../templates/sub-templates/_Perfumaria-Footer.pug

        block scripts
            include ./../templates/sub-templates/_Perfumaria-Scripts